.show-in-source-view {
	display: none;
}

.markdown-source-view > .show-in-source-view {
	display: initial;
}

.show-in-reading-view {
	display: none;
}

.markdown-reading-view > .show-in-reading-view {
	display: initial;
}

.float-right {
	float: right;
}
