.avatar-plugin--float-right {
	float: right;
}

.markdown-preview-view .avatar-view {
	margin-block-start: var(--p-spacing);
	margin-block-end: var(--p-spacing);
}

.avatar-plugin--md > *:first-child {
	margin-block-start: 0;
}

.avatar-plugin--md > *:last-child {
	margin-block-end: 0;
}
